body {
    background-color: lightblue;
    font-family: monospace;
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
}

.container {
    margin: 100px auto;
    width: 80%;
}

select {
    padding: 5px;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: #0074cc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056a5;
}

#tableContainer {
    background-color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
}

#nameTable {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

#nameTable th, #nameTable td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
